/*Couleurs*/
/*Police de font*/
/*Type de font*/
/*Flex*/
/*Box-shadow*/
/*Boutons*/
/*Medias Queries*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

a, span, h3, h4 {
  font-size: 13px;
}

h1, h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.reserve_btn, .step_btn, .food_card, .menu_card {
  box-shadow: 3px 3px 5px #c5c5c5;
}

/*Fonctionnement*/
.step {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.step_btn {
  background: #F6F6F6;
  border-radius: 10px;
  padding: 25px;
  color: black;
}
.step_circle {
  position: absolute;
  left: 12px;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #9356DC;
  padding: 3px;
  text-align: center;
}
.step_icon {
  color: grey;
  margin: 8px;
  font-size: 15px;
}
.step_text {
  margin-left: 8px;
  font-weight: bold;
}

/*Restaurant*/
.food {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 20px 20px 50px 20px;
  gap: 20px;
}
.food_title {
  padding-top: 20px;
}
.food_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.food_card {
  background-color: white;
  border-radius: 12px;
  height: 200px;
}
.food_img, .food_img2 {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.food_img {
  object-position: bottom;
}
.food_img2 {
  object-position: 100% 62%;
}
.food_legend {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  padding-top: 6px;
}
.food_name {
  line-height: 1.2rem;
  padding: 5px 0 5px 8px;
}

figure {
  height: 140px;
}

figcaption {
  display: inline-block;
  position: relative;
  top: -135px;
  right: -215px;
  color: #307e61;
  font-weight: bold;
  font-size: 10px;
  background-color: #a9e0d1;
  padding: 5px 8px 5px 8px;
}

/*Pages restaurants*/
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu_page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F6F6;
  margin-top: -10px;
  padding: 20px 10px 30px 10px;
  border-radius: 30px 30px 0 0;
  gap: 20px;
}
.menu_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_title h1, .menu_title span {
  font-size: 20px;
  padding: 10px;
}
.menu_title h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu_subtitles {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}
.menu_subtitle {
  font-weight: normal;
}
.menu_underline {
  position: relative;
  border: solid #99E2D0 1px;
  width: 10%;
}
.menu_card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  justify-content: space-between;
  height: 55px;
}
.menu_price {
  font-size: 13px;
  font-weight: bold;
  padding: 30px 12px 0 0;
}
.menu_legend {
  padding: 10px 0 10px 5px;
  line-height: 1.2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  width: 100%;
}
.header_logo img {
  display: block;
  width: 150px;
  padding: 12px;
}
.header_search {
  background-color: #EAEAEA;
  width: 100%;
  padding: 13px;
  text-align: center;
  box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.14);
}
.header_search input {
  background-color: #EAEAEA;
  text-align: center;
}
.header_search ::-webkit-input-placeholder {
  color: #393939;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.reserve {
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
}
.reserve_title {
  padding-bottom: 12px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.reserve_subtitle {
  color: #818181;
  font-weight: normal;
  font-size: 15px;
}

.arow i {
  position: absolute;
  color: black;
  left: 0;
  padding: 20px 0px 20px 15px;
}

.header_img {
  height: 180px;
}

.footer a {
  color: #fff;
}

.footer {
  color: #fff;
  background: #353535;
  text-align: left;
  padding: 20px;
  line-height: 1.8rem;
}
.footer_logo img {
  filter: invert(1);
  max-width: 100px;
}
.footer_icon {
  filter: invert(1);
  height: 14px;
  margin-right: 8px;
}

.reserve_btn, .order_btn {
  border: 0;
  border-radius: 50px;
  color: white;
  padding: 13px;
  background: linear-gradient(#dd7bd5, #9f63d5);
  margin: 25px;
}

.order_btn {
  margin: 25px 60px;
  width: 60%;
}

/*Fonctionnement couleurs survol*/
.step a:hover {
  background-color: #f4edfe;
}
.step a:hover .step_icon {
  color: #9356DC;
}

/*CSS chargement page*/
.loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  animation: loader 2s linear 2s;
  animation-fill-mode: both;
}
.loader img {
  width: 150px;
  height: 100px;
  position: absolute;
  margin: 80% 80% 80% -8%;
  animation: spin 2s linear 2s;
  animation-fill-mode: both;
}
.loader_text {
  background: -webkit-linear-gradient(#dd7bd5, #9f63d5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  width: 100%;
  position: absolute;
  margin: 88% 0% 100% 30%;
  animation: texte 2s linear 2s;
  animation-fill-mode: both;
}

/*Animation chargement page*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: retate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes texte {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/*Apparition carte restaurant*/
.menu {
  animation: menu 1.5s linear 1s;
  animation-fill-mode: both;
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Animation coeurs*/
.food_heart, .menu_heart {
  display: inline-block;
  margin-right: 15px;
  margin-top: 12px;
  font-size: 20px;
  color: #9d9d9d;
}
.food_heart input[type=checkbox],
.food .full-icon, .menu_heart input[type=checkbox],
.menu .full-icon {
  display: none;
}
.food_heart input[type=checkbox]:checked ~ .full-icon, .menu_heart input[type=checkbox]:checked ~ .full-icon {
  display: inline-block;
  animation: heart 0.5s 0.5s;
  animation-fill-mode: both;
  background: -webkit-linear-gradient(#9f63d5, #dd7bd5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: center;
}
.food_heart input[type=checkbox]:checked ~ .empty-icon, .menu_heart input[type=checkbox]:checked ~ .empty-icon {
  display: none;
}

.menu_heart .full-icon {
  display: none;
}

@keyframes heart {
  0% {
    height: 10%;
  }
  30% {
    height: 30%;
  }
  60% {
    height: 60%;
  }
  100% {
    height: 100%;
  }
}
/*Animation coche*/
.menu_card i {
  display: block;
  position: absolute;
  color: white;
  font-size: 20px;
  padding: 18px;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  left: 80%;
  opacity: 0;
}

.menu_card i:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
