@charset "UTF-8";
/*Couleurs*/
/*Police de font*/
/*Type de font*/
/*Flex*/
/*Box-shadow*/
/*Boutons*/
/*Medias Queries*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

a, span, h3, h4 {
  font-size: 13px;
}
@media (min-width: 600px) {
  a, span, h3, h4 {
    font-size: 15px;
  }
}

h1, h2 {
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 600px) {
  h1, h2 {
    font-size: 20px;
  }
}

h3 {
  font-weight: bold;
  font-size: 15px;
}
@media (min-width: 600px) {
  h3 {
    font-size: 17px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.reserve_btn, .step_btn, .food_card, .menu_card {
  box-shadow: 3px 3px 5px #c5c5c5;
}

/*Fonctionnement*/
.step {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
@media (min-width: 1200px) {
  .step {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}
.step_btn {
  background: #F6F6F6;
  border-radius: 10px;
  padding: 25px;
  color: black;
}
@media (min-width: 600px) {
  .step_btn {
    width: 50%;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .step_btn {
    grid-row: 2;
    width: 70%;
  }
}
.step_circle {
  position: absolute;
  left: 12px;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #9356DC;
  padding: 3px;
  text-align: center;
}
@media (min-width: 600px) {
  .step_circle {
    left: auto;
    margin-left: -40px;
  }
}
.step_icon {
  color: grey;
  margin: 8px;
  font-size: 15px;
}
.step_text {
  margin-left: 8px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .step_title {
    padding-bottom: 20px;
  }
}

/*Restaurant*/
.food {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 20px 20px 50px 20px;
  gap: 20px;
}
.food_title {
  padding-top: 20px;
}
@media (min-width: 1200px) {
  .food_title {
    padding-bottom: 20px;
  }
}
.food_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  .food_cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
@media (min-width: 1200px) {
  .food_cards {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
  }
}
.food_card {
  background-color: white;
  border-radius: 12px;
  height: 200px;
}
.food_img, .food_img2 {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.food_img {
  object-position: bottom;
}
.food_img2 {
  object-position: 100% 62%;
}
.food_legend {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  padding-top: 6px;
}
.food_name {
  line-height: 1.2rem;
  padding: 5px 0 5px 8px;
  color: black;
}

figure {
  height: 140px;
}

figcaption {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: -65px;
  justify-content: space-around;
  color: #307e61;
  font-weight: bold;
  font-size: 10px;
  background-color: #a9e0d1;
  padding: 5px 8px 5px 8px;
}
@media (min-width: 600px) {
  figcaption {
    font-size: 12px;
  }
}

/*Pages restaurants*/
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 600px) {
  .menu {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .menu {
    grid-row: 2;
  }
}
.menu_page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F6F6;
  margin-top: -25px;
  padding: 20px 10px 30px 10px;
  border-radius: 30px 30px 0 0;
  gap: 20px;
}
@media (min-width: 600px) {
  .menu_page {
    padding: 5px 10px 30px 10px;
    gap: 25px;
  }
}
@media (min-width: 1200px) {
  .menu_page {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}
.menu_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .menu_title {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .menu_title {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
  }
}
.menu_title h1, .menu_title span {
  font-size: 20px;
  padding: 10px;
}
.menu_title h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu_subtitles {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}
.menu_subtitle {
  font-weight: normal;
}
.menu_underline {
  position: relative;
  border: solid #99E2D0 1px;
  width: 10%;
}
@media (min-width: 600px) {
  .menu_underline {
    width: 60%;
  }
}
.menu_card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  justify-content: space-between;
  height: 55px;
}
@media (min-width: 600px) {
  .menu_card {
    width: 70%;
  }
}
.menu_price {
  font-size: 13px;
  font-weight: bold;
  padding: 30px 12px 0 0;
}
.menu_legend {
  display: inline;
  padding: 10px 0 10px 5px;
  line-height: 1.2rem;
}
.menu_legend h3, .menu_legend h4 {
  text-overflow: unset;
}

/*Logo et localisation*/
.header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 599px) {
  .header {
    align-items: center;
  }
}
.header_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 600px) {
  .header_img img {
    height: 400px;
  }
}
.header_logo img {
  display: block;
  width: 150px;
  padding: 12px;
  margin: auto;
}
@media (min-width: 600px) {
  .header_logo img {
    width: 200px;
  }
}
.header_search {
  background-color: #EAEAEA;
  width: 100%;
  padding: 13px;
  text-align: center;
  box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, 0.14);
}
.header_search input {
  background-color: #EAEAEA;
  text-align: center;
}
.header_search ::-webkit-input-placeholder {
  color: #393939;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

/*Partie "réservez"*/
.reserve {
  width: 100%;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
}
.reserve_title {
  padding-bottom: 12px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.reserve_subtitle {
  color: #818181;
  font-weight: normal;
  font-size: 15px;
}

/*Flèche*/
.arow i {
  position: absolute;
  color: black;
  left: 0;
  padding: 20px 0px 20px 15px;
}
@media (min-width: 600px) {
  .arow i {
    font-size: 20px;
  }
}

.footer a {
  color: #fff;
}

.footer {
  color: #fff;
  background: #353535;
  text-align: left;
  padding: 20px;
  line-height: 1.8rem;
}
.footer_logo img {
  filter: invert(1);
  width: 100px;
}
@media (min-width: 600px) {
  .footer_logo img {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .footer_logo img {
    margin-left: 45%;
  }
}
.footer_icon {
  filter: invert(1);
  height: 14px;
  margin-right: 8px;
}
@media (min-width: 600px) {
  .footer_card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px;
    align-items: center;
  }
}

.reserve_btn, .order_btn {
  border: 0;
  border-radius: 50px;
  color: white;
  padding: 13px;
  background: linear-gradient(#dd7bd5, #9f63d5);
  margin: 25px;
  font-size: 13px;
}

.order_btn {
  margin: auto;
  width: 60%;
}
@media (min-width: 600px) {
  .order_btn {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .order_btn {
    grid-column: 2;
    grid-row: 3;
  }
}

/*Fonctionnement couleurs survol*/
.step a:hover {
  background-color: #f4edfe;
}
.step a:hover .step_icon {
  color: #9356DC;
}

/*CSS chargement page*/
.loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F6F6F6;
  animation: 2s linear 3s both loader;
}
.loader_img1 {
  width: 100%;
  height: 200px;
  margin: auto;
  bottom: 0%;
  position: absolute;
  animation: 1.5s linear 0.8s both texte;
}
.loader_img2 {
  width: 100%;
  height: 110px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  animation: 2s linear infinite both spin;
}
.loader_text {
  background: -webkit-linear-gradient(#dd7bd5, #9f63d5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  width: 100%;
  position: absolute;
  text-align: center;
  animation: 2s linear 0.8s both texte;
}
.loader_spin1 {
  width: 125px;
  height: 125px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  border: 2px solid transparent;
  border-left-color: transparent;
  border-right-color: #FF79DA;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 2s linear infinite both spin-inverse;
}
.loader_spin2 {
  width: 140px;
  height: 140px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  border: 2px solid #9356DC;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 2s linear infinite both spin;
}
.loader_spin3 {
  width: 155px;
  height: 155px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  border: 2px solid transparent;
  border-left-color: #99E2D0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 2s linear infinite both spin-inverse;
}

/*Animation chargement page*/
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    z-index: 1;
  }
  100% {
    transform: rotate(360deg);
    z-index: -1;
  }
}
@keyframes spin-inverse {
  0% {
    transform: rotate(0deg);
    z-index: 1;
  }
  100% {
    transform: rotate(-360deg);
    z-index: -1;
  }
}
@keyframes texte {
  0% {
    width: 0%;
    z-index: 1;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    z-index: -1;
  }
}
/*Apparition carte restaurant*/
.list {
  animation: 0.4s ease-in 0.6s both fadein;
}
.list_1 {
  animation: 0.8s ease-in 0.6s both fadein;
}
.list_2 {
  animation: 1.2s ease-in 0.6s both fadein;
}
.list_3 {
  animation: 1.4s ease-in 0.6s both fadein;
}
.list_4 {
  animation: 1.6s ease-in 0.6s both fadein;
}
.list_5 {
  animation: 1.8s ease-in 0.6s both fadein;
}
.list_6 {
  animation: 2s ease-in 0.6s both fadein;
}
.list_7 {
  animation: 2.2s ease-in 0.6s both fadein;
}
.list_8 {
  animation: 2.4s ease-in 0.6s both fadein;
}
.list_9 {
  animation: 2.6s ease-in 0.6s both fadein;
}
.list_10 {
  animation: 2.8s ease-in 0.6s both fadein;
}
.list_11 {
  animation: 3s ease-in 0.6s both fadein;
}
.list_12 {
  animation: 3.2s ease-in 0.6s both fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Animation coeurs*/
.food_heart, .menu_heart {
  display: inline-block;
  margin-right: 15px;
  margin-top: 12px;
  font-size: 20px;
  color: #9d9d9d;
}
@media (min-width: 600px) {
  .food_heart, .menu_heart {
    font-size: 25px;
  }
}
.food_heart > input[type=checkbox],
.food .full-icon, .menu_heart > input[type=checkbox],
.menu .full-icon {
  display: none;
}
.food_heart > input[type=checkbox]:checked ~ .full-icon, .menu_heart > input[type=checkbox]:checked ~ .full-icon {
  display: inline-block;
  animation: heart 1.5s 1.5s;
  animation-fill-mode: both;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.43, 0.21, 1, 0.45);
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(#9f63d5, #dd7bd5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.food_heart > input[type=checkbox]:checked ~ .empty-icon, .menu_heart > input[type=checkbox]:checked ~ .empty-icon {
  display: none;
}

.menu_heart .full-icon {
  display: none;
}

@keyframes transform {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*Animation coche*/
.menu_card:hover .menu_legend > h3, .menu_card:hover h4 {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_card .menu_check {
  display: block;
  position: absolute;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  left: 80%;
  opacity: 0;
}
@media (min-width: 1200px) {
  .menu_card .menu_check {
    left: auto;
    margin-left: 20%;
  }
}
.menu_card .menu_check .check_icon {
  padding: 8px 5px 8px 5px;
}
.menu_card .menu_check:hover {
  opacity: 1;
  left: 0%;
  margin-left: 0;
  position: relative;
  animation: slide-left 0.4s linear both;
}
.menu_card .menu_check:hover .check_icon {
  transition: all 0.3s 0.3s;
  transform: rotate(-360deg);
}

@keyframes slide-left {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
