/*Fonctionnement*/
.step {
    @include flex;
    padding: 20px;
    gap: 20px;
        @include for-desktop {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
        }

    &_btn {
        background: $color-background;
        border-radius: 10px;
        padding: 25px;
        color: black;
            @include for-tablet {
                width: 50%;
                justify-content: center;
                border-radius: 20px;
                margin: auto;
            }
                @include for-desktop {
                    grid-row: 2;
                    width: 70%;
                }
    }

    &_circle {
        position: absolute;
        left: 12px;
        color: white;
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background-color: $color-primary;
        padding: 3px;
        text-align: center;
            @include for-tablet {
                left: auto;
                margin-left: -40px;
            }
    }

    &_icon {
        color: grey;
        margin: 8px;
        font-size: 15px;
    }

    &_text {
        margin-left: 8px;
        font-weight: $fontWeight;
    }

    &_title {
        @include for-desktop {
            padding-bottom: 20px;
        }
    }
}

/*Restaurant*/
.food {
    @include flex;
    background-color: $color-background;
    padding: 20px 20px 50px 20px;
    gap: 20px;

    &_title {
        padding-top: 20px;
            @include for-desktop {
                padding-bottom: 20px;
            }
    }

    &_cards {
        @include flex;
        gap: 20px;
            @include for-tablet {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto;
            }
                @include for-desktop {
                    grid-template-columns: auto auto auto auto;
                    grid-template-rows: auto;
                }
    }

    &_card {
        background-color: white;
        border-radius: 12px;
        height: 200px;
    }

    &_img , &_img2 {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }

    &_img {
        object-position: bottom;
    }

    &_img2 {
        object-position: 100% 62%;
    }

    &_legend {
        display: flex;
        flex-direction: row;
        color: black;
        justify-content: space-between;
        padding-top: 6px;
    }

    &_name {
        line-height: 1.2rem;
        padding: 5px 0 5px 8px;
        color: black;
    }
}

figure {
    height: 140px;
}

figcaption {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: -65px;
    justify-content: space-around;
    color: #307e61;
    font-weight: bold;
    font-size: 10px;
    background-color: #a9e0d1;
    padding: 5px 8px 5px 8px;
        @include for-tablet {
            font-size: 12px;
        }
}