.footer a {
    color: #fff;
}

.footer {
    color: #fff;
    background: $color-footer;
    text-align: left;
    padding: 20px;
    line-height: 1.8rem; 

    &_logo img {
        filter: invert(1);
        max-width: 100px;
    }

    &_icon {
        filter: invert(1);
        height: 14px;
        margin-right: 8px;
    }
}