.footer a {
    color: #fff;
}

.footer {
    color: #fff;
    background: $color-footer;
    text-align: left;
    padding: 20px;
    line-height: 1.8rem; 

    &_logo img {
        filter: invert(1);
        width: 100px;
        @include for-tablet {
            width: 120px;
        }
        @include for-desktop {
            margin-left: 45%;
        }
    }

    &_icon {
        filter: invert(1);
        height: 14px;
        margin-right: 8px;
    }

    @include for-tablet {
        &_card {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 50px;
            align-items: center;
        }
    }
}