.reserve_btn, .order_btn {
    @include btn;
}

.order_btn {
    margin: auto;
    width: 60%;
        @include for-tablet {
            width: 40%;
        }
            @include for-desktop {
                grid-column: 2;
                grid-row: 3;
            }
}