* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font: inherit;
}

a, span, h3, h4 {
    font-family: $font-text;
}

h1, h2 {
    font-family: $font-title;
}