/*Fonctionnement couleurs survol*/
.step a:hover {
    background-color: $color-hover;

.step_icon {
    color: $color-primary;
}
}

/*CSS chargement page*/
.loader {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    animation: loader 2s linear 2s;
    animation-fill-mode: both;

    & img {
        width: 150px;
        height: 100px;
        position: absolute;
        margin: 80% 80% 80% -8%;
        animation: spin 2s linear 2s;
        animation-fill-mode: both;
    }

    &_text {
        background: -webkit-linear-gradient(#dd7bd5,#9f63d5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-title;
        font-size: 40px;
        width: 100%;
        position: absolute;
        margin: 88% 0% 100% 30%;
        animation: texte 2s linear 2s;
        animation-fill-mode: both;
    }
}

/*Animation chargement page*/
@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: retate(0deg);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}
@keyframes texte {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

/*Apparition carte restaurant*/
.menu {
    animation: menu 1.5s linear 1s;
    animation-fill-mode: both;
}

@keyframes menu {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*Animation coeurs*/
.food , .menu {  
    &_heart {
        display: inline-block;
        margin-right: 15px;
        margin-top: 12px;
        font-size: 20px;
        color: #9d9d9d;
    } 

    &_heart input[type="checkbox"],
            .full-icon {
            display: none;
            }
    
            &_heart input[type="checkbox"]:checked ~ .full-icon
            {
                display: inline-block; 
                animation: heart 0.5s 0.5s;
                animation-fill-mode: both;
                background: -webkit-linear-gradient(#9f63d5,#dd7bd5);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transform-origin: center;
            }
    
            &_heart input[type="checkbox"]:checked ~ .empty-icon
            {
                display: none;
            }
}

.menu_heart .full-icon {
    display: none;
}

@keyframes heart {
    0% {
        height: 10%;
    }

    30% {
        height: 30%;
    }

    60% {
        height: 60%;
    }

    100% {
        height: 100%;
    }
}

/*Animation coche*/
.menu_card i {
    display: block;
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 18px;
    background-color: $color-tirdiary;
    border-radius: 0 10px 10px 0;
    left: 80%;
    opacity: 0;
}

.menu_card i:hover {
    opacity: 1;
}